
<section id="footer" class="footbg footer-section bg-purple">
	<div class="container">
	  <div class="row">
		<div class="text-left col-lg-12 col-xs-12">
		  <a href="/" class="botlogo">
			<h3 class="mb-4 text-white">      
			  <img src="/images/icons/logo-01.png" alt="AadiHerbs" height="50px">
			</h3>
		  </a>
		</div>
		<div class="col-lg-3 col-xs-3 foocola2">
		  <h5>Offices</h5>
		  <div class="foo-address">
			<ul>
			  <li><a href="contact-us.php">Bangladesh</a></li>
			  <li><a href="contact-us.php">Tongi 1710</a></li>
			  <li><a href="tel:+8801556106697">+8801556106697</a></li>
			  <li><a href="contact-us.php">Contact Us</a></li>
			</ul>
		  </div>
		</div>
		<div class="col-lg-3 col-xs-3 foocola2">
		  <h5>Company</h5>
		  <ul>
			<li><a href="about-us.php">About Us</a></li>
			<li><a href="privacy-policy.php">Privacy Policy</a></li>
			<li><a href="terms-and-conditions.php">Terms & Conditions</a></li>
			<li><a href="refund-policy.php">Refund Policy</a></li>
		  </ul>
		</div>
		<div class="col-lg-3 col-xs-3 foocola2">
		  <h5>Products</h5>
		  <ul>
			<li><a href="products.php">Herbal Products</a></li>
			<li><a href="products.php">Organic Oils</a></li>
			<li><a href="products.php">Nuts & Seeds</a></li>
			<li><a href="products.php">Health Supplements</a></li>
		  </ul>
		</div>
		<div class="col-lg-3 col-xs-3 foocola2">
		  <h5>Social Media</h5>
		  <ul>
			<li><a href="https://twitter.com/aadiherbs" target="_blank">Twitter</a></li>
			<li><a href="https://www.facebook.com/aadiherbs" target="_blank">Facebook</a></li>
			<li><a href="https://www.instagram.com/aadiherbs" target="_blank">Instagram</a></li>
			<li><a href="https://www.linkedin.com/company/aadiherbs" target="_blank">LinkedIn</a></li>
		  </ul>
		</div>
	  </div>
	</div>
  
	<div class="container">
	  <hr style="color:#000000;">
	  <div class="row">
		<div class="col-12">
		  <span class="text-center copys text-white">
			<a href="https://twitter.com/aadiherbs" target="_blank" style="margin-right:15px;"><i class="fa fa-twitter s-icon"></i></a>
			<a href="https://www.facebook.com/aadiherbs/" target="_blank" style="margin-right:15px;"><i class="fa fa-facebook-f s-icon"></i></a>
			<a href="https://www.instagram.com/aadiherbs" target="_blank" style="margin-right:15px;"><i class="fa fa-instagram s-icon"></i></a>
			<a href="https://www.linkedin.com/company/aadiherbs" target="_blank"><i class="fa fa-linkedin"></i></a>
		  </span>
		</div>
		<div class="col-12">
		  <span class="text-left copys">&copy;2024 All rights reserved by AadiHerbs</span>
		  <a href="https://www.10dumbs.com" title="Award winning website design & development company in Bangladesh" style="display:none;">Website Developed by [Your Name]</a>
		</div>
	  </div>
	</div>
	<br><br><br>
  </section>
  <!-- "size": { "M": { "sellingPrice": 200, "discountPrice": 40, "stock":23 }, "XL": { "sellingPrice": 250, "discountPrice": 40, "stock":23 }, "XXL": { "sellingPrice": 250, "discountPrice": 40, "stock":23 } }, "length": { "200mm": { "sellingPrice": 200, "discountPrice":50, "stock": 20 }, "500mm": { "sellingPrice": 250, "discountPrice": 70, "stock": 20 } } -->
  <style>
  @media only screen and (max-width: 1000px) {
	.foocola2 {
	  width: 25% !important;
	}
  }
  
  @media only screen and (max-width: 700px) {
	.foocola2 {
	  width: 50% !important;
	}
  
	.neon-text {
	  font-size: 30px;
	  color: #124e28;
	  text-shadow: none!important;
	}
  
	.adjust-text {
	  font-size: 35px;
	}
  }
  
  .botlogo {
	margin-bottom: 30px!important;
	text-align: left!important;
  }
  
  /* Footer */
  #footer {
	padding: 20px;
	text-align: center;
	color: #333;
  }
  
  .footbg {
	background-color: #f5f5f5 !important;
	padding-top: 20px !important;
  }
  
  #footer h5 {
	padding: 0;
	font-family: 'Lato', sans-serif;
	text-align: left;
	color: #222222;
	font-weight: bold;
	font-size: 24px;
  }
  
  #footer h6 {
	padding: 0;
	font-family: 'Lato', sans-serif;
	text-align: left;
	color: #222222;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 6px;
	margin-top: 20px !important;
  }
  
  .jwjoin {
	background: #FBBA18;
	color: #42175b !important;
	border-radius: 12px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	font-weight: 900 !important;
	padding-bottom: 3px;
	line-height: 35px;
  }
  
  #footer p {
	text-align: left;
	color: #222222;
	line-height: 20px;
  }
  
  .fload {
	font-size: 14px;
	font-weight: 500;
  }
  
  #footer ul {
	padding: 0px;
	text-align: left;
	list-style: none;
	color: #222222;
	line-height: 26px;
  }
  
  #footer ul li a {
	color: #222222;
	font-size: 14px;
	font-weight: 300;
  }
  
  .foott {
	font-size: 10px;
	text-align: left;
	font-weight: 600;
  }
  
  #footer .underline1 {
	margin: 20px auto;
  }
  
  .mfoot30 {
	margin-top: 30px !important;
  }
  </style>
  



<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/vendor/slick/slick.min.js"></script>
	<script src="/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'b', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:false
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/
	
	</script>
<!--===============================================================================================-->
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>
</html>